body {
    /* margin: 0; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 8%;
    margin-right: 8%;
  }
  
  label {
    margin: 0.5em;
  }
  
  
  .section {
    margin: 1em;
    border: 1px solid rgb(61, 59, 59);
    padding: 20px;
    margin:   50px auto;
    max-width: 500px;
    border-radius: 5px;;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   height: 100%;
  background-color: #fff;
  /*padding-right: 40px;*/
  }
  .section1 {
    margin: 1em;
    background-color: aqua;
    height: 300px;
    width: 60%;
    
  }
  

  .signup{
    display: flex;
    align-items: center;
    justify-content:center;
    
    
  }
  .form-group {
    
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding-top: 10px;
    padding-bottom: 10px;
    
    width: 100%;
  border: 1px solid #c3c0c0;
  border-radius: 3px;
  }
  
 
/* Add this CSS to your stylesheet */
#button:hover {
  background-color: #0056b3;
}

.text{
  text-align: center;
}
#button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: indigo-600;
  border-radius: 5px;
  width: 100%;
  border: none;
  font-weight: bold;
  height:50px;
  
  border-radius: 0.5rem;
  background-color: #4361ee; /* Indigo 600 */
  font-size: 1rem; /* Assuming this is what "text-sm" translates to */
  font-weight: 600; /* Assuming this is what "font-semibold" translates to */
  line-height: 1.75rem; /* Assuming this is what "leading-6" translates to */
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  transition: background-color 0.2s ease-in-out;
}

#button:hover {
  background-color: #3f37c9; /* Indigo 500 */
}

#button:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: #674cd1; /* Indigo 600 */
}
.home{
  border: none;
  display: flex;
  margin-bottom: 6px;;
  justify-content: center;
  align-items: center;
  background-color: #4361ee;
  text-decoration: none;
  color: white;
  height: 40px;
  padding: 5px 5px 5px 5px;
  border-radius: 0.5rem;
  font-size: 1rem; /* Assuming this is what "text-sm" translates to */
  font-weight: 600; /* Assuming this is what "font-semibold" translates to */
  line-height: 1.75rem; /* Assuming this is what "leading-6" translates to */
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  transition: background-color 0.2s ease-in-out;
}
.buttons{
  margin: 20px;
}
body{
  height: 100%;
  background-color:#0b132b; ;
}
.OR{
  text-align: center;
}
.g-signin22{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: #e63946;
  height: 50px;
  border-radius: 5px;;
  text-decoration: none;
  border: none;
  width: 100%;;
  color: #fff;
  font-size: 0.875rem; /* Assuming this is what "text-sm" translates to */
  font-weight: 600; /* Assuming this is what "font-semibold" translates to */
  line-height: 1.75rem;
  /* Indigo 600 */
  
}

.g-signin22g{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  height: 50px;
  border-radius: 5px;;
  text-decoration: none;
  border: none;
  width: 100%;;
  color: #fff;
  font-size: 0.875rem; /* Assuming this is what "text-sm" translates to */
  font-weight: 600; /* Assuming this is what "font-semibold" translates to */
  line-height: 1.75rem;
  /* Indigo 600 */
  
}